.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px grey;
  color: white;
  padding: 20px;
  height: 80vh;
}
.todoForm{
  display: flex;
  justify-content: space-around;
  width: 450px;
}
input{
  border: none;
  padding: 10px;
  width: 80%;
  border-radius: 2rem;
}
button{
  border: none;
  padding: 10px;
  border-radius: 1rem;
  margin: 0 5px ;
}
.todoList{
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo{
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 2rem;
  width: 450px;
  background-color: #5dadf8;
}
.singleText{
  flex: 1;
}